@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-track:hover {
  background: #555;
}

/* Calender prompt!! */

.calenderPrompt {
  z-index: 99;
  position: absolute;

  /* opacity: 100%; */
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

/* hehe  */

.promptSection {
  position: relative;
  display: grid;
  /* justify-content: left; */
  margin-right: 10%;
  margin-bottom: 10%;
  background: #1f2a40;
  padding: 5px 20px 20px;
  border-radius: 20px;
}

.promptTitle {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 40px;
  /* background: red; */
}
.buttonPrompt {
  width: 300px;
  background: red;
}

.closeIconPrompt {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: #db4f4a;
  transition: 1s ease-in;
}

.closeIconPrompt:hover {
  color: #af3f3b;
}
